#conteneur{
  width: 960px;
  background: paleturquoise;
  color: white;
  margin: 0 auto;
  text-align: center;

 }
header {
  background: tan;
  height: 60px;
  line-height: 60px;
 /* text-align: center;*/
 }
nav {
  background: #808000;
  height: 30px;
  line-height: 30px;
  /*text-align: center;*/
 }
section{
  height: 500px;
  background: #00FF00;
  margin: 10px;
  }
.residence{
   border: 1px solid #0000FF;
   float: left;
   height: 248px;
   width: 468px;
  /* overflow: hidden;*/
}
.maison {
   border: 1px solid;
  float: left;
  height: 122px;
  line-height: 122px;
  /*text-align: center;*/
  width: 232px;
}
.color_pink{
   background: pink;
}
.jardin{
border: 1px solid;
float: left;
height: 122px;
line-height: 122px;
/*text-align: center;*/
}


.color_lightblue{
  background: lightblue;
 }
.garage{
border: 1px solid;
float: left;
height: 122px;
line-height: 122px;/*centrer les mots au milieu*/
 width: 232px;
/*text-align: center;*/
}
.color_gray{
  background: gray;
}
.grenier{
border: 1px solid;
float: left;
height: 122px;
line-height: 122px;
/*text-align: center;*/
width: 232px;
}
.color_orange{
  background: orange;
}
footer {
  background: silver;
  height: 70px;
  line-height: 70px;
 /* text-align: center;*/
  }
